<!doctype html>
<nav>
  <a href="/" class="home">Home</a>
</nav>

<h1>Database Preview</h1>

<p>Database Stats:</p>
<table>
  <tr>
    <th>Number of Columns:</th>
    <th>Number of Rows:</th>
    <th>Standard Deviation between Links:</th>
    <th>Time to generate:</th>
  </tr>
  <tr>
    <td>{{ num_columns }}</td>
    <td>{{ num_rows }}</td>
    <td>{{ link_deviation }}</td>
    <td>{{ time_diff }}</td>
  </tr>
</table>

<p>Database Link Distribution</p>
<img src="/static/link_dist.png">

<p>Database Schema:</p>
<table>
  <tr>
    <th>Column Name</th>
    <th>Datatype</th>
  </tr>
  {% for col in schema.keys() %}
  <tr>
    <td>{{ col }}</td>
    <td>{{ schema[col] }}</td>
  </tr>
  {% endfor %}
</table>

<p>Top 10 Rows of Database:</p>
<table>
  <tr>
    {% for col in schema.keys() %}
    <th>{{ col }}</th>
    {% endfor %}
  </tr>
  {% for row in top_rows %}
  <tr>
    {% for val in row %}
    <td>{{ val }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

<form>
  <label for="dropdown">Select a Link Value for Deletion:</label>
  <select id="dropdown" name="dropdown">
    {% for value in links_sorted %}
    <option value="{{ value }}">{{ value }}</option>
    {% endfor %}
  </select>
</form>

<p id="row_count">Number of Rows Selected for Deletion: </p>

<p>Explain Row Deletion?</p>
<div>
  <input type="hidden" name="link_value_2" id="link_value_2" value="">
  <button onclick="get_explain()">Call API</button>
</div>

<table>
  <thead>
    <tr>
      <th>addr</th>
      <th>opcode</th>
      <th>p1</th>
      <th>p2</th>
      <th>p3</th>
      <th>p4</th>
      <th>p5</th>
      <th>comment</th>
    </tr>
  </thead>
  <tbody id="apiTableBody">
  </tbody>
</table>

<p>Delete Rows?</p>
<form action="/delete_rows" , method="post">
  <input type="hidden" name="link_value" id="link_value" value="">
  <input type="hidden" name="row_value" id="row_value" value="">
  <input type="submit" value="Submit">
</form>

<p>Schedule batch deletions?</p>
<form action="/delete_transactions", method="post">
  <input type="hidden" name="link_value_3" id="link_value_3" value="">
  <label for="delete_count">How many deletions:</label>
  <input id="delete_count" name="delete_count" type="number">
  <input type="submit" value="Submit">
</form>

<script>
  let inputs = document.getElementById('dropdown');
  let links = {{ links }};

  inputs.addEventListener('input', function () {
    let count = 0;
    for (var i = 0; i < links.length; i++) {
      if (links[i] == inputs.value) {
        count++;
      }
    }
    var ptag = document.getElementById('row_count');
    var input_value = document.getElementById('link_value');
    var input_value_2 = document.getElementById('link_value_2');
    var input_value_2 = document.getElementById('link_value_3');
    var row_value = document.getElementById('row_value');

    ptag.innerHTML = 'Number of Rows Selected for Deletion: ' + count;
    input_value.value = inputs.value;
    input_value_2.value = inputs.value;
    input_value_3.value = inputs.value;
    row_value.value = count;
  });

  function get_explain() {
    var input_value_2 = document.getElementById('link_value_2').value;
    fetch('/explain_delete_rows?link_value_2=' + input_value_2)
      .then(response => response.json())
      .then(data => {
        const tableBody = document.getElementById('apiTableBody');
        tableBody.innerHTML = '';

        data.message.forEach(item => {
          const row = document.createElement('tr');
          row.innerHTML = `
            <td>${item[0]}</td>
            <td>${item[1]}</td>
            <td>${item[2]}</td>
            <td>${item[3]}</td>
            <td>${item[4]}</td>
            <td>${item[5]}</td>
            <td>${item[6]}</td>
            <td>${item[7]}</td>
          `;
          tableBody.appendChild(row);
        });
      })
      .catch(error => {
        console.error('Error:', error);
        document.getElementById('explainResult').innerText = 'Error occurred while fetching data';
      });
  }
</script>