<html>

<body>
  <h1>GDPR Data Deletion Simulator</h1>

  <form action="/generate", method="post">
    <label for="num_columns">Number of columns between 1 and 100:</label>
    <input id="num_columns" name="num_columns" type="number" min="1" max="100">
    <br>

    <label for="num_rows">Number of rows of data between 1 and 1,000,000:</label>
    <input id="num_rows" name="num_rows" type="number" min="1" max="1000000">
    <br>

    <label for="linking_strength">Linking Strength:</label>
    <input id="linking_strength" name="linking_strength" type="range">
    <br>

    <input type="submit" value="Submit">
  </form>
</body>

</html>